.header{
    width: 100vw;
    height: 40px;
    display: block;
    text-align: center;
}
.main_content{
    margin: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.card
{
    border: black solid 1px;
    height: 100px;
    width: 100px;
}